<footer class="site-footer">

  <div class="wrapper footer-content">

    <div class="footer-author">
      {% if site.author %}
        {{ site.author | escape }}
      {% endif %}
    </div>

    <img src="{{ site.baseurl }}/assets/footer.svg">
    <div class="footer-social">
      
      <a href="https://github.com/open-building-management"
         target="_blank"
         rel="noopener noreferrer"
         aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>

      {% if site.email %}
      <a href="mailto:{{ site.email }}"
         aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
      {% endif %}

      {% if page.url contains "categories" %}

        {% assign array = page.url | split: "/" %}
        {% assign component = array | last %}
        {% assign toremove = component | append: "/" %}
        {% assign feedpath = page.url | remove: toremove %}

        <a href="{{site.baseurl}}{{feedpath}}atom{{page.lang}}.xml"
           aria-label="RSS">
          <i class="fas fa-rss"></i>
        </a>

      {% else %}

        <a href="{{ site.feed[ page.lang ] | relative_url }}"
           aria-label="RSS">
          <i class="fas fa-rss"></i>
        </a>

      {% endif %}

    </div>

    <div class="footer-description">
      {{ site.description | escape }}
    </div>

  </div>

</footer>
