<header class="site-header">
  <div class="container">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <div class="row">
        <div class="col-sm-6 col-md-8">
            <a class="site-title" rel="author" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">
                <img src="{{ site.baseurl }}/assets/dromotherm6.svg" width=100 height=50> {{ site.title | escape }}
            </a>
        </div>
        {%- if titles_size > 0 -%}
        <div class="col-6 col-md-4">
            <a class="page-link" href="http://dromotherm.github.io/documentation"><img src="{{ site.baseurl }}/assets/tekdoc.svg" width=50 height=50></a>
            {% if page.ref %}
              {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | where: "lang", page.lang | first -%}
                {%- if my_page.title -%}
                  {%- if my_page.ref == "home" -%} {%- assign icon = "assets/project.svg" -%}
                  {%- elsif my_page.ref == "themis" -%} {%- assign icon = "assets/themis.svg" -%}
                  {%- elsif my_page.ref == "download" -%} {%- assign icon = "assets/download.svg" -%}
                  {%- elsif my_page.ref == "about" -%} {%- assign icon = "" -%}
                  <!--should restore assets/team.svg-->
                  {%- else -%} {%- assign icon = "" -%}
                  {%- endif -%}
                  {%- if icon != "" -%}
                      <a class="page-link" href="{{ my_page.url | relative_url }}"><img src="{{ site.baseurl }}/{{ icon }}" width=50 height=50></a>
                  {%- endif -%}
                {%- endif -%}
            
              {%- endfor -%}
            {% endif %}
        </div>
        {%- endif -%}
    </div>
    
  </div>
</header>

{% if page.ref %}
<div class="wrapper" style="text-align: right; line-height: 2em">
  {% assign posts=site.posts | where:"ref", page.ref | where:"draft": false | sort: 'lang' %}
  {% for post in posts %} 
    <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">
      {%- if post.lang == page.lang -%} <b><u>{{ post.lang }}</u></b> {%- else -%} {{ post.lang }} {%- endif -%}
    </a> 
  {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for mypage in pages %} 
    <a href="{{ mypage.url | prepend: site.baseurl }}" class="{{ mypage.lang }}">
      {%- if mypage.lang == page.lang -%} <b><u>{{ mypage.lang }}</u></b> {%- else -%} {{ mypage.lang }} {%- endif -%}
    </a> 
  {% endfor %}

  {% assign pages=site.staff-members | where:"ref", page.ref | sort: 'lang' %}
  {% for mypage in pages %} 
    <a href="{{ mypage.url | prepend: site.baseurl }}" class="{{ mypage.lang }}">
      {%- if mypage.lang == page.lang -%} <b><u>{{ mypage.lang }}</u></b> {%- else -%} {{ mypage.lang }} {%- endif -%}
    </a> 
  {% endfor %}
</div>
{% endif %}
