{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-header col-sm-6 col-md-8">
        <a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">
          <img src="{{ site.baseurl }}/assets/dromotherm7.svg" class="img-fluid" data-target="#navbar"> {{ site.title | escape }}
        </a>
        </div>
        <div class="col-6 col-md-4" id="icons">
          <a class="nav-link" href="http://dromotherm.github.io/documentation"><img src="{{ site.baseurl }}/assets/tekdoc.svg"></a>
          {%- if titles_size > 0 -%}
            {% if page.ref %}
              {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | where: "lang", page.lang | first -%}
                {%- if my_page.title -%}
                  {%- if my_page.ref == "home" -%} {%- assign icon = "assets/project.svg" -%}
                  {%- elsif my_page.ref == "themis" -%} {%- assign icon = "assets/themis.svg" -%}
                  {%- elsif my_page.ref == "download" -%} {%- assign icon = "assets/download.svg" -%}
                  {%- elsif my_page.ref == "about" -%} {%- assign icon = "" -%}
                  <!--should restore assets/team.svg-->
                  {%- else -%} {%- assign icon = "" -%}
                  {%- endif -%}
                  {%- if icon != "" -%}
                      <a class="nav-link" href="{{ my_page.url | relative_url }}"><img class="img-fluid" src="{{ site.baseurl }}/{{ icon }}" ></a>
                  {%- endif -%}
                {%- endif -%}            
              {%- endfor -%}
            {% endif %}
          {%- endif -%}
        </div>
    </div>
</nav>



{% if page.ref %}
<div class="wrapper" style="text-align: right; line-height: 2em">
  {% assign posts=site.posts | where:"ref", page.ref | where:"draft": false | sort: 'lang' %}
  {% for post in posts %} 
    <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">
      {%- if post.lang == page.lang -%} <b><u>{{ post.lang }}</u></b> {%- else -%} {{ post.lang }} {%- endif -%}
    </a> 
  {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for mypage in pages %} 
    <a href="{{ mypage.url | prepend: site.baseurl }}" class="{{ mypage.lang }}">
      {%- if mypage.lang == page.lang -%} <b><u>{{ mypage.lang }}</u></b> {%- else -%} {{ mypage.lang }} {%- endif -%}
    </a> 
  {% endfor %}

  {% assign pages=site.staff-members | where:"ref", page.ref | sort: 'lang' %}
  {% for mypage in pages %} 
    <a href="{{ mypage.url | prepend: site.baseurl }}" class="{{ mypage.lang }}">
      {%- if mypage.lang == page.lang -%} <b><u>{{ mypage.lang }}</u></b> {%- else -%} {{ mypage.lang }} {%- endif -%}
    </a> 
  {% endfor %}
</div>
{% endif %}
