<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<script>
  //needed for printing pdf with wkhtmltopdf
  function subst() {
      var vars = {};
      var query_strings_from_url = document.location.search.substring(1).split('&');
      for (var query_string in query_strings_from_url) {
          if (query_strings_from_url.hasOwnProperty(query_string)) {
              var temp_var = query_strings_from_url[query_string].split('=', 2);
              vars[temp_var[0]] = decodeURI(temp_var[1]);
          }
      }
      var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages'];
      for (var css_class in css_selector_classes) {
          if (css_selector_classes.hasOwnProperty(css_class)) {
              var element = document.getElementsByClassName(css_selector_classes[css_class]);
              for (var j = 0; j < element.length; ++j) {
                  element[j].textContent = vars[css_selector_classes[css_class]];
              }
          }
      }
  }
</script>

{%- include head.html -%}
  
<body onload="subst()">
<header class="site-header">
  <div class="wrapper">
    <img src="{{ site.baseurl }}/assets/dromotherm6.svg" width=150 height=75> {{ site.title | escape }}
    <nav class="site-nav">
      <div class="trigger">
        <span class="page"></span> / <span class="topage"></span>
        &nbsp;{{ site.time | date_to_long_string }}
      </div>
    </nav>
  </div>
</header>
</body>

</html>
