<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link rel="stylesheet" href="{{ "/assets/css/cv.css" | relative_url }}">
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("h2", "h3").forEach(title => {
	  console.log(title);

      const parts = title.textContent.split("|");

      if (parts.length === 2) {

        const left = parts[0].trim();
        const right = parts[1].trim();
        title.innerHTML = `
          <span class="cv-title">${left}</span>
          <span class="cv-date">${right}</span>
        `;
      }
    });
  });
  </script>

  <body>
    {%- include header_no_menu.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
