<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link rel="stylesheet" href="{{ "/assets/css/cv.css" | relative_url }}">
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("h2, h3").forEach(title => {
	
	  const parts = title.textContent.split("|").map(p => p.trim());

      if (parts.length >= 2) {

        const left = parts[0];
        const date = parts[1];
        const role = parts[2]; // optionnel

        title.innerHTML = `
          <span class="cv-title">${left}</span>
          <span class="cv-meta">
            <span class="cv-date">${date}</span>
            ${role ? `<span class="cv-role">${role}</span>` : ""}
          </span>
        `;
      }
    });
	document.querySelectorAll("a").forEach(a => {

      const href = a.getAttribute("href");

      if (href && !href.startsWith("#")) {
        a.setAttribute("target", "_blank");
        a.setAttribute("rel", "noopener noreferrer");
      }

    });
  });
  </script>

  <body>
    {%- include header_no_menu.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
