<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
 .left {
    float:left;
    width:100px;
  }
  .center {
    display: inline-block;
    margin:0 auto;
    width:100px;
  }

  .right {
    float:right;
    width:100px;
  }
</style>
{%- include head.html -%}
<body>
<hr>
<br>
<div class="containerr">
   <div class="left"><a href="{{ site.url }}{{ site.baseurl }}">{{ site.url }}{{ site.baseurl }}</a></div>
   <div class="right"><a href=http://www.cerema.fr>http://www.cerema.fr</a></div>
</div>
</body>
</html>
